body {
  background-color: #ffffff;
  margin-bottom: 8%;
  min-height: 100%;
}

.header {
  background-color: #e3a125;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: #29a2ed;
  bottom: 0;
}
